@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
.navbar {
    height: auto;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    align-items: center;
}
.h1{
    font-family: 'Lobster', sans-serif;
}
.links{
    color: #fff;
    text-decoration: none;
    font-size: xx-large;
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: red;
    padding: 10px;   
    justify-content: flex-end; 
    padding-right: 15px;
    font-family: 'Playpen Sans', cursive;
}

.link{
    color: #fff;
    text-decoration: none;
}